.header {
  display:flex;
  justify-content:start;
  padding:15px 0px;

  font-family: "Helvetica Neue Lt", Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  font-size: 13px;
  color: #555;

}


